.body {
    margin: 0px;
    padding: 0%;
}

.wrapper {
    border: 5px solid springgreen;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-image: url("../images/Gym.jpg");
    background-repeat: no-repeat;
    background-size: 100% 180px;
    border: 1px solid #c9061d;
    height: 180px;
    width: 100%;
}

.menu {
    border: 1px solid #06b2c9;
    height: 50px;
    width: 100%;
    background: aquamarine;
}

ul.list_menu li:hover {
    background: burlywood;
}

ul.list_menu {
    padding: 0px;
    margin: 0px;
    width: 40%;
    border: 1px solid blueviolet;
    list-style: none;
    margin: 0 auto;
    line-height: 20px;
}

ul.list_menu li {
    float: left;
    margin: 7px;
    padding: 5px;
}

ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: #f54242;
    font-size: revert;
}

#main {
    border: 1px solid #0651c9;
    height: auto;
    width: 100%;
}

.sidebar {
    border: 2px solid rgb(19, 0, 128);
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 6px;
    float: left;
}

ul.list_sidebar li:hover {
    background: rgb(222, 199, 135);
}

ul.list_sidebar {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: 1px solid blueviolet;
    list-style: none;
    line-height: 20px;
}

ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
}

ul.list_sidebar li a {
    text-decoration: none;
    text-align: left;
    color: #f54242;
    font-size: revert;
    display: block;
}

.maincontent {
    border: 2px solid rgb(255, 206, 173);
    height: auto;
    width: 78%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}

ul.product_list li img {
    width: 40%;
}

ul.product_list li {
    width: 18%;
    border: 1px dashed #000;
    margin: 5px;
    float: left;
    background: #8acd6696;
    height: 200px;
}

ul.product_list li a {
    text-decoration: none;
}

ul.product_list {
    list-style: none;
}

p.title_product {
    text-align: center;
    color: darkblue;
    font-size: 16px;
    font-weight: bold;
}

p.price_product {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}

p.footer_copy {
    color: darkblue;
    font-size: small;
    text-align: center;
}

.footer {
    border: 1px solid #c98506;
    height: 180px;
    width: 100%;
    background: aquamarine;
}

.clear {
    clear: both;
}